{% extends "base.html" %}
{% load crispy_forms_tags i18n static %}
{% block title %} Sponsorship Form {% endblock %}


{% block content %}

    <header id="top" class="sub-header">
        <div class="container">
        </div>
        <!-- end .container -->
    </header><br><br>


<section>
    <div class="col-md-12">
        <div class="panel panel-danger wow fadeInLeft">
                <div class="container"> 
                    <div class="row ">
                        <h5 class="page-title wow fadeInDown">Apply for Sponsorship<br><small>Help Sponsor Python Ghana Ladies</small></h5><br>
            
                                                <div class="container"> 
                                                    <div class="nav-center bottom-space-lg">
                                                 </div>
                                                                    <form class="form col-md-8" action="" method="post">
                                                                            {% crispy form form.helper %}
                                                                                {% csrf_token %}
                                                                    </form>
                                                </div>
                    </div>
                </div>
            </div>
    </div>
</section>

{% endblock %}
